<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/album.css">
</head>

<body>

  <div class="tab" id="tab">
    <button class="nice-button" onclick="window.location.href = 'index.html'">Main</button>
    <button class="nice-button" onclick="window.location.href = 'index.html'"></button>
    <button class="nice-button" onclick="window.location.href = 'index.html'"></button>
    <button class="nice-button" onclick="AlbumBack()"></button>
  </div>
  <section class="section">
    <div class="container">

      <div class="album">
          <div class="album-item">
            <div class="Album-img">
              <img src="pictures/1.jpg" alt="">
            </div>
          </div>
          <div class="album-item">
            <div class="Album-img">
              <img src="pictures/2.jpg" alt="">
            </div>
          </div>
          <div class="album-item">
            <div class="Album-img">
              <img src="pictures/3.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="album">
          <div class="album-item">
            <div class="Album-img">
              <img src="pictures/4.jpg" alt="">
            </div>
          </div>
          <div class="album-item">
            <div class="Album-img">
              <img src="pictures/5.jpg" alt="">
            </div>
          </div>
          <div class="album-item">
            <div class="Album-img">
              <img src="pictures/6.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="album">
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/7.jpg" alt="">
              </div>
            </div>
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/8.jpg" alt="">
              </div>
            </div>
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/9.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="album">
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/10.jpg" alt="">
              </div>
            </div>
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/11.jpg" alt="">
              </div>
            </div>
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/12.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="album">
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/13.jpg" alt="">
              </div>
            </div>
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/14.jpg" alt="">
              </div>
            </div>
            <div class="album-item">
              <div class="Album-img">
                <img src="pictures/15.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../scripts/album.js"></script>

</body>

</html>
