<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <img id="BGID" src="pictures/main.jpg" />

  <div class="tab" id="tab">
    <button class="nice-button" onclick="">Main</button>
    <button class="nice-button" onclick=""></button>
    <button class="nice-button" onclick="window.location.href = 'player.html'">Player</button>
    <button class="nice-button" onclick="window.location.href = 'album.html'">Album</button>
  </div>

  <script src="../scripts/index.js"></script>

</body>

</html>
